@mixin font(
  $size: var(--font-size-m),
  $line-height: var(--line-height-m),
  $weight: var(--font-weight-regular)
) {
  margin: 0;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin card {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px 25px;

  text-align: center;
}
